body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF; /* Default background color */
    transition: background-color 0.5s ease;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}
